# Auto detect text files and perform LF normalisation
* text=auto

# PHP files must always use LF according to PSR-2
*.php eol=lf

# Do not export these files when generating an archive
.gitattributes   export-ignore
.gitignore       export-ignore
README.md        export-ignore
